/* Makes the slider angle numbers larger and more readable */
.rc-slider-mark-text {
    font-size: 15px !important;
    color: #A0A0A5 !important;
    padding-top: 5px;
}

/* The animation for when a button is clicked */
.button-clicked {
    transform: scale(0.95);
    opacity: 0.7;
    transition: all 0.1s ease-out;
}